{% extends "base.html" %}
{% block content %}

<div class="container">

    <div style="display:flex; justify-content:space-between;">
        <h2>Admin Dashboard</h2>
        <div>
            <a href="/" style="margin-right:10px;">⬅ Home</a>
            <a href="/admin/logout">Logout</a>
        </div>
    </div>

    {% if insights|length == 0 %}
    <p>No posts available</p>
    {% endif %}

    {% for item in insights %}
    <div class="card" style="margin-bottom:15px;">
    
        <b>{{ item.name }}</b> · {{ item.category }}
    
        <p style="margin-top:8px;">
            {{ item.insight }}
        </p>
    
        <small style="color:gray;">
            {{ item.book_name }} · ❤️ {{ item.likes_count }}
        </small>
    
    <form method="POST" action="/admin/delete/{{ item.id }}" style="margin-top:10px;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button style="background:#4f46e5;">Delete</button>
    </form>
    
    </div>
    {% endfor %}

</div>

{% endblock %}