{% extends "base.html" %}
{% block content %}

<div class="container">

    <div style="display:flex; justify-content:space-between;">
        <h2>Admin Dashboard</h2>
        <a href="/">⬅ Home</a>
    </div>

    {% if insights|length == 0 %}
    <p>No posts available</p>
    {% endif %}

    <table border="1" cellpadding="10" style="width:100%; margin-top:20px;">
        <tr>
            <th>Name</th>
            <th>Book</th>
            <th>Category</th>
            <th>Insight</th>
            <th>Likes</th>
            <th>Action</th>
        </tr>

        {% for item in insights %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.book_name }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.insight }}</td>
            <td>{{ item.likes_count }}</td>
            <td>
                <form method="POST" action="/admin/delete/{{ item.id }}">
                    {{ csrf_token() }}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}